:root{
    /* the color of the buttons */
    --color-buttons: rgb(133, 102, 133);
}



/* ////////////the general container//////////// */
main{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    position:relative;
    top:5rem;
}




.container{
    display:flex;
    flex-flow: column nowrap;
    width:75vh;
    height:75vh;
    margin: 0 0 0 0;
    padding: 2rem;

}

/* //////////////////////////////////////////// */




/* ////////////BASIC STRUCTURE////////////////// */

/*  ///////////where I make the containers non-visible//////////  */


#to-score-link-nonVis{
    display:none;
}

.container-start-nonVis{
    display: none;
}

.container-quiz-nonVis{
    display:none;
}
.score-nonVis{
    display: none;
}

.container-highScores-nonVis{
    display:none;
}





/* ///////////////score link///////////////////////// */
#to-score-link{

    display:flex;

    flex-flow: row wrap;
    height: 3rem;
    justify-content: space-between;
    padding: 0 2rem 2rem 0;
}


#to-score-link a{
    /* border: 2px solid blue; */
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 1.5rem;
    
}
#to-score-link p{
    font-size: 1.5rem;
}
/* ///////////////////////////////////// */


/* //////the start page////////////// */
.container-start{

    display:flex;

    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;

    margin-top:10%;
    width:90;
}

#quiz-description{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    width:100%;
}
#quiz-description h1{
    font-size: 3rem;
}
#quiz-description p{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: -5% 20% 5% 25%;
    font-size:1.25rem;
}

#start-link{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#start-button{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--color-buttons);
    color: white;
    height: 5rem;
    width:9rem;

    border-radius: 1rem;
}

/* /////////////end start page//////////////// */


/* /////////Quiz Questions/////////////////////// */
.container-quiz{
    display:flex;
    width:100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0;
}

#question{
    display:flex;
    position: relative;
    bottom: 5rem;
    font-size: 3em;
    margin: 0 0 -1rem 0;
}
.answers{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    color:white;
    
    width:100%;
}

#to-start,
#to-scoreBoard,
#clear-scores,
.answers button{
    color:white;
    background-color: var(--color-buttons);
    border-radius: .5rem;
    margin:.5rem 0 .5rem 0;
    height:5rem;
    width:15rem;
    font-size: 2rem;
    
}
#start-button,
#to-start,
#to-scoreBoard,
#clear-scores{
    font-size: 2rem;
}


/* /////////Quiz Questions END/////////////////////// */

/* ////////////////user score/////////////////////// */
#yourScore h3{
    font-size: 3rem;
}
.score{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width:100%;
}
.score input{
    font-size: 2rem;
}


/* ///////////Score Board ////////////// */

.container-highScores{
    display:flex;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.container-highScores h3{
    font-size: 3rem;
    margin: 0 0 0 0;
}

.container-highScores li{
    font-size: 2rem;
}
#to-start{
    background-color: var(--color-buttons);
}


/* ///////////Score Board END////////////// */

/* This had to be moved away from the other '-nonVis' items because it was being overridden if it was too high up */
#clear-scores-nonVis{
    display: none;
}

/* ///////////BASIC STRUCTURE END////////////// */

